<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Log in - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="/assets/css/Carousel_Image_Slider-mycarousel.css">
    <link rel="stylesheet" href="/assets/css/Carousel_Image_Slider.css">
    <link rel="stylesheet" href="/assets/css/Carousel-Hero-1.css">
    <link rel="stylesheet" href="/assets/css/Carousel-Hero.css">
    <link rel="stylesheet" href="/assets/css/Dark-Mode-Switch.css">
    <link rel="stylesheet" href="/assets/css/Responsive-UI-Card-02.css">
    <link rel="stylesheet" href="/assets/css/responsive-video-youtube.css">
    <link rel="stylesheet" href="/assets/css/Responsive-Youtube-Embed.css">
    <link rel="stylesheet" href="/assets/css/Responsive-YouTube-Video-Section-Dark-Centered.css">
    <link rel="stylesheet" href="/assets/css/Steps-Progressbar-1.css">
    <link rel="stylesheet" href="/assets/css/steps-progressbar.css">
    <link rel="stylesheet" href="/assets/css/Swiper-Slider-Card-For-Blog-Or-Product-swiper.min.css">
    <link rel="stylesheet" href="/assets/css/Swiper-Slider-Card-For-Blog-Or-Product-untitled.css">
    <link rel="stylesheet" href="/assets/css/Timeline-Steps.css">
    <link rel="stylesheet" href="/assets/css/Video-Responsive-YouTube-Video-Responsive.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>

    
<style>
  .error {
      color: red;
      font-size: 19px;
  }
</style>
    <!-- Get css icons from css.gg -->
    <link href="https://css.gg/css?=|moon|sun" rel="stylesheet">

    <!-- CSS for dark mode toggle button -->
    <link href="dark-mode-toggle.css" rel="stylesheet">

    <!-- Dark Reader API via jsDelivr CDN -->
    <script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.16/darkreader.min.js"></script>
    <style>
      /* Existing styles */
    
      /* Style for the new button */
      .join-messenger-button {
          position: absolute;
          top: 0;
          right: 0;
          margin: 20px;
      }
    </style>
    
</head>

<body>

  
  <div class="dark-mode-toggle">
    <!-- icon from css.gg -->
    <i class="gg-moon"></i>
</div>
<nav class="navbar navbar-expand-md fixed-top navbar-shrink py-3 navbar-light" id="mainNav" style="align-content: space-between;margin-bottom: -15px;background: #ffffff;box-shadow: 0px 0px 1px, 0px 0px;">
  <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div></div><a href="/land"><img id="img-invert" class="img-fluid " src="/assets/img/p2.png?h=03bea36411bb3da8629ff446a9ecfaac" width="150" height="44" style="margin-left: 0px;margin-right: 0px;color: var(--bs-dropdown-link-color);width: 167px;height: 48.4766px;background: var(--bs-body-bg);box-shadow: 0px 0px;text-shadow: 0px 0px var(--bs-navbar-color);" href="libraryy"></a>
      <div class="collapse navbar-collapse float-end" id="navcol-2"><a class="navbar-brand d-flex align-items-center" href="libraryy"><span></span></a>
          <ul class="navbar-nav mx-auto">
              <li class="nav-item"><a class="nav-link" href="/land">Home</a></li>

              <li class="nav-item"><a class="nav-link " href="/testimonials">Testimonials</a></li>
              <li class="nav-item"><a class="nav-link" href="/contacts">Contacts</a></li>
              <li class="nav-item"><a class="nav-link" href="/faq">FAQ</a></li>
              <li class="nav-item"></li>
              <li class="nav-item"></li>
              <li class="nav-item"></li>
          </ul>
      </div><a class="btn btn-primary shadow" role="button" href="/signup">Sign Up</a>
  </div>
</nav>
    <section class="py-4 py-md-5 my-5">
        <div class="container py-md-5">
          <div class="row">
            <div class="col-md-6 text-center">
              <img class="img-fluid w-100" src="/assets/img/illustrations/login.svg">
            </div>
            <div class="col-md-5 col-xl-4 text-center text-md-start">
              <h2 class="display-6 fw-bold mb-5">
                <span class="underline pb-1"><strong>Login</strong><br></span>
              </h2>

              <form method="post" action="/api/login" data-bs-theme="light" onsubmit="return onSubmitForm(event);" id="login-form">
                <div class="mb-3">
                  <input class="shadow form-control" type="email" name="email" placeholder="Email" required="">
                </div>
                <div class="mb-3">
                  <input class="shadow form-control" type="password" name="password" placeholder="Password" required="">
                </div>
                <div class="mb-3">
                    <div class="g-recaptcha" data-sitekey="6LforXInAAAAADvSaLmlYGLAA0fXqgyJs7ni0nnU"></div>
                    <input type="hidden" id="recaptcha-response" name="g-recaptcha-response">

                <!-- Add the following script to handle form submission -->
                <script>
                  async function onSubmitForm(event) {
                    event.preventDefault();
                    const recaptchaResponse = await grecaptcha.getResponse();

                    // Check if the response is not empty
                    if (!recaptchaResponse) {
                      alert("Please complete the reCAPTCHA verification.");
                      return false;
                    }

                    // Set the reCAPTCHA response in a hidden input field
                    const recaptchaInput = document.createElement('input');
                    recaptchaInput.setAttribute('type', 'hidden');
                    recaptchaInput.setAttribute('name', 'g-recaptcha-response');
                    recaptchaInput.setAttribute('value', recaptchaResponse);
                    document.getElementById('login-form').appendChild(recaptchaInput);

                    // Proceed with form submission
                    document.getElementById('login-form').submit();
                    return true;
                  }
                </script>             
                </div>
                <div class="mb-3">
                  <% if (error) { %>
                    <p class="error"><%= error %></p>
                  <% } %>
                </div>
                <div class="mb-3">
                  <button class="btn btn-primary shadow" style="margin-bottom: 13px;" type="submit" onclick="onClick(event)">Log in</button>
                  <p class="text-muted">By Logging in, you accept our <a href="/terms" style="border-bottom: 1px solid #ccc;" target="_blank">Terms and conditions</a>.</p>
                </div>
                <hr>
                <div class="mb-3">
                  <p>You can also login with :</p>
                  <div class="mb-3">
                    <div  type="button">
                        <div id="g_id_onload"
                           data-client_id="984482563682-bhb1f4s39dj8fpv1tq2pshi6opvdivgd.apps.googleusercontent.com"
                           data-login_uri="http://localhost:3000/api/google-login"
                           data-auto_prompt="false">
                        </div>
                        <div class="g_id_signin"
                           data-type="standard"
                           data-size="large"
                           data-theme="outline"
                           data-text="sign_in_with"
                           data-shape="rectangular"
                           data-logo_alignment="left">
                        </div>
                  </div>
                  </div>
                </div>
                <!-- Add "You can also login with Google" button -->

              </form>
              <hr>
              <p class="text-muted"><a href="forgotten-password" style="border-bottom: 1px solid #ccc;">Forgot your password?</a></p>
              <p class="text-muted">Don't have an account? <a href="/signup">Sign Up</a>&nbsp;-&gt;</p>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="container py-4 py-lg-5" style="padding-bottom: 54px;">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2023 TunEd.&nbsp;</p><a href="https://medportfolio.vercel.app/" target="_blank">Devoloper : <span style="text-decoration: underline;">Mohamed Oueslati</span></a>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                        </svg></li>
                    <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-twitter">
                            <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                        </svg></li>
                    <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-instagram">
                            <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"></path>
                        </svg></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

        <!-- JS for toggling dark mode -->
        <script src="dark-mode-toggle.js"></script>
</body>

</html>